:root {
  --highlights: #2196f3;
  --titles: #212121;
  --logo: #000000;
  --mainandaddress: #ffffff;
  --background1: #2f303a;
  --background2: #f5f4fa;
  --descriptions: #757575;
}
body {
  font-family: "Roboto", "Montserrat", "Open Sans", "Arial", sans-serif;
  color: var(--titles);
  letter-spacing: 0.03em;
  margin: 0;
}
a {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  color: var(--logo);
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
  padding-right: 93px;
}
.web {
  color: var(--highlights);
}
.navigation {
  font-weight: 500;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.link {
  color: inherit;
  padding-right: 46px;
}

.link:focus,
.link:active,
.link:hover {
  color: var(--highlights);
}

.contact {
  font-weight: 500;
  color: var(--descriptions);
  text-decoration: none;
  line-height: 1.2;
  flex-basis: calc((100% - 50px) / 2);
}

.contact:focus,
.contact:active,
.contact:hover {
  color: var(--highlights);
}

.main-section {
  background-color: var(--background1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-text {
  font-weight: 900;
  font-size: 44px;
  color: var(--mainandaddress);
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  padding-bottom: 30px;
  margin: 0;
}

.main-button {
  background-color: var(--highlights);
  color: var(--mainandaddress);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 41px;
}

.category-buttons {
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 34px;
}
.category-buttons:focus,
.category-buttons:active {
  color: var(--highlights);
}

.button {
  background-color: var(--background2);
  font-weight: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.button:focus,
.button:active,
.button:hover {
  background-color: var(--highlights);
  color: var(--mainandaddress);
}

.footer {
  background-color: var(--background1);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--mainandaddress);
  line-height: 1.4;
}
.address {
  color: var(--mainandaddress);
  line-height: 1.7;
  font-style: normal;
}

.contact-footer {
  color: rgba(255, 255, 255, 60%);
}

.contact-footer:focus,
.contact-footer:active {
  color: var(--highlights);
}

.title-list {
  list-style-type: none;
}

.title {
  font-weight: 700;
  line-height: 1.2;
}

.text {
  color: var(--descriptions);
  line-height: 1.7;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 50px;
  margin: 0;
}

.addition {
  padding-top: 0;
}
.section-title-backgroundsection {
  background-color: var(--background2);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  background-color: var(--mainandaddress);
  margin: 0;
  text-align: center;
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.job {
  font-weight: 400;
  color: var(--descriptions);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 10px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-type {
  font-weight: 400;
  font-size: 16px;
  color: var(--descriptions);
  line-height: 1.9;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 25px;
  padding-top: 24px;
  align-items: center;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.contact-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 50px;
}

.section-one {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.image {
  flex-basis: calc((100% - 60px) / 3);
}

.section-two {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: center;
}

.team-card {
  flex-basis: calc((100% - 90px) / 4);
  margin: 0;
}

.section-title,
.section-title-background {
  justify-content: center;
  align-items: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.item-box {
  flex-basis: calc((100% - 56px) / 3);
  margin: 0;
}

.portfolio-title {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  margin: 0;
}

header {
  border-bottom: 1px solid #eeeeee;
  border-width: 100%;
}

.title-list {
  display: flex;
  gap: 30px;
}

.title-list-item {
  flex-basis: calc((100% - 90px) / 4);
}

.item-image.no-gap {
  display: block;
}

figure {
  margin: 0;
}
