:root {
  --highlights: #2196f3;
  --titles: #212121;
  --logo: #000000;
  --mainandaddress: #ffffff;
  --background1: #2f303a;
  --background2: #f5f4fa;
  --descriptions: #757575;
}
body {
  font-family: "Roboto", "Montserrat", "Open Sans", "Arial", sans-serif;
  color: var(--titles);
  letter-spacing: 0.03em;
  margin: 0;
}
a {
  text-decoration: none;
}
.logo {
  font-weight: 700;
  font-size: 26px;
  color: var(--logo);
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
}
.web {
  color: var(--highlights);
}
.navigation {
  font-weight: 500;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.link {
  color: inherit;
}

.link:focus,
.link:active,
.link:hover {
  color: var(--highlights);
}

.contact {
  font-weight: 500;
  color: var(--descriptions);
  text-decoration: none;
  line-height: 1.2;
}

.contact:focus,
.contact:active,
.contact:hover {
  color: var(--highlights);
}

.main {
  background-color: var(--background1);
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

.main-text {
  font-weight: 900;
  font-size: 44px;
  color: var(--mainandaddress);
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
}

.main-button {
  background-color: var(--highlights);
  color: var(--mainandaddress);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.9;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  margin-top: 30px;
}

.category-buttons {
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.category-buttons:focus,
.category-buttons:active {
  color: var(--highlights);
}

.button {
  background-color: var(--background2);
  font-weight: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.button:focus,
.button:active,
.button:hover {
  background-color: var(--highlights);
  color: var(--mainandaddress);
}

.footer {
  background-color: var(--background1);
  margin-top: 0;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--mainandaddress);
  line-height: 1.4;
}
.address {
  color: var(--mainandaddress);
  line-height: 1.7;
  font-style: normal;
}

.contact-footer {
  color: rgba(255, 255, 255, 60%);
}

.contact-footer:focus,
.contact-footer:active {
  color: var(--highlights);
}

.title-list {
  list-style-type: none;
}

.title {
  font-weight: 700;
  line-height: 1.2;
}

.text {
  color: var(--descriptions);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.section-title-background {
  background-color: var(--background2);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.job {
  font-size: 16px;
  color: var(--descriptions);
  line-height: 1.2;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-type {
  font-weight: 400;
  font-size: 16px;
  color: var(--descriptions);
  line-height: 1.9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  margin-bottom: 80px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px;
  border-bottom-color: #ececec;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact {
  flex-direction: row-reverse;
  justify-content: center;
}

.title-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-basis: auto;
  margin-top: 94px;
}

.section-one {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.section-two {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  flex-basis: calc((100% - 90px) / 4);
  justify-content: flex-start;
  margin-bottom: 0;
}

.section-title,
.section-title-background {
  justify-content: center;
  align-items: center;
  margin-top: 94px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-title {
  border: 1px #eeeeee;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
